## Deliverable 3. Create a Travel Itinerary Map.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [23]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,4,Russell,US,78.03,clear sky,32.3502,-85.1999,Macs
1,12,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,16,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,Paradise Inn
3,19,Fukuma,JP,75.29,broken clouds,33.7667,130.4667,Masago
4,20,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...,...
176,662,Hami,CN,80.76,clear sky,42.8000,93.4500,Laoyutang Resort
177,665,Pangkalanbuun,ID,80.85,overcast clouds,-2.6833,111.6167,Grand Kecubung Hotel
178,668,Miri,MY,85.28,scattered clouds,4.4148,114.0089,"Mega Hotel, Miri"
179,674,Jacmel,HT,77.94,broken clouds,18.2342,-72.5347,Historic Hotel Florita
180,680,Pochutla,MX,80.82,clear sky,15.7432,-96.4661,Hotel Posada San Jose

In [24]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{City Description} {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [25]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[vacation_df["City"] == "San Patricio"]
vacation_end = vacation_df.loc[vacation_df["City"] == "San Patricio"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Lamar"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Madison"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Pascagoula"]

In [84]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
#end = city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
#print(f'Start: {start}, End: {end}')

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (28.017, -97.5169), End: (28.017, -97.5169)
Stop 1: (33.6668, -95.5836), Stop 2: (34.7334, -86.5667), Stop 3: (30.3658, -88.5561)

In [85]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
new_fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
vacation_itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
vacation_itinerary_df

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,160,San Patricio,US,83.53,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,317,Lamar,US,84.63,scattered clouds,33.6668,-95.5836,Kings Inn Paris TX
2,285,Madison,US,80.40,clear sky,34.7334,-86.5667,Embassy Suites by Hilton Huntsville Hotel & Spa
3,158,Pascagoula,US,82.45,clear sky,30.3658,-88.5561,Regency Inn
4,160,San Patricio,US,83.53,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [87]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{City Description} {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_itinerary_df[["Lat", "Lng"]]

In [88]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(32.0, -90.0), zoom_level= 4.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))